
.footer-section {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-top: 2px solid white;
}
.footer-left-section {
    margin-left: 4rem;
}
.footer-left-section > :nth-child(1) {
    font-weight: bold;
    color: white;
}


.contact-icon {
    font-size: 20px;
}
.footer-contact {
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
}


.footer-right-section {
    display: flex;
    margin-right: 5.5rem;
}
.footer-right-section > :nth-child(1) {
    font-weight: bold;
    color: white;
}
.footer-icons > :nth-child(1) {
    font-size: 25px;
    color: red;
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.footer-icons > :nth-child(2) {
    font-size: 25px;
    color: blue;
    margin-right: 1rem;
}
.footer-icons > :nth-child(3) {
    font-size: 25px;
    color: green;
    margin-right: 1rem;
}